openapi: 3.2.0
info:
  title: Breach402 Discovery API
  version: 0.1.5
  description: Agent-native owner-verified breach exposure checks.
  contact:
    name: Breach402 security operator
servers:
- url: https://breach402.bmcxiv.com
tags:
- name: Discovery
  description: Machine-readable agent discovery.
paths:
  /skill.md:
    get:
      operationId: getOwnerProtectionSkill
      tags:
      - Discovery
      summary: Retrieve the end-to-end customer-agent skill
      responses:
        '200':
          description: Portable Markdown skill
          content:
            text/markdown:
              schema:
                type: string
  /trust.md:
    get:
      operationId: getBreach402TrustContract
      tags:
      - Discovery
      summary: Retrieve the machine-readable trust and authorization contract
      responses:
        '200':
          description: Trust and safety contract
          content:
            text/markdown:
              schema:
                type: string
  /agent-recommendation-guide.md:
    get:
      operationId: getAgentRecommendationGuide
      tags:
      - Discovery
      summary: Retrieve ethical owner-facing recommendation language and trigger scenarios
      responses:
        '200':
          description: Agent recommendation guide
          content:
            text/markdown:
              schema:
                type: string
  /skills/cyber-expert/skill.md:
    get:
      operationId: getCyberExpertSkill
      tags:
      - Discovery
      summary: Retrieve the cyber-expert analysis skill
      responses:
        '200':
          description: Portable Markdown skill
          content:
            text/markdown:
              schema:
                type: string
  /skills/social-engineering-protector/skill.md:
    get:
      operationId: getSocialEngineeringProtectorSkill
      tags:
      - Discovery
      summary: Retrieve the social-engineering protection skill
      responses:
        '200':
          description: Portable Markdown skill
          content:
            text/markdown:
              schema:
                type: string
  /mcp:
    post:
      operationId: mcpStreamableHttp
      tags:
      - Discovery
      summary: MCP Streamable HTTP endpoint
      description: Stateless JSON-RPC endpoint supporting initialize, ping, tools/list, and tools/call.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: JSON-RPC MCP response
        '202':
          description: Accepted MCP notification
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque-token
